<br>
<%if logged_in? %>
  Add Note:
  <form action="/tracks/<%= @track.id %>/notes" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="note[track_id]" value="<%= @track.id %>">
    <label for="comment">Enter Comment</label>
      <textarea name="note[body]" id="comment"></textarea>
    <input type="submit" value="Submit">
  </form>
  <%else%>
  You must <%=link_to "login", new_session_url%> to add notes
  <br>
  <%end%>