<h1>Create a new track!</h1>


<form action="/bands/<%= params[:band_id]%>/albums/<%= params[:album_id]%>/tracks" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="album_name">Album Name</label>
  <select name="track[album_id]" id="album_id">
  <% Album.fetch_by_band_id(params[:band_id]).each do |album| %>
  <option value=<%= album.id %><%"selected" if album.id = params[:album_id]%>><%= album.album_name %></option>
  <%end%>
  <label for="track_name">Track Name</label>
    <input type="text" name="track[track_name]" id="track_name">
  <input type="submit" value="Create Track">
</form>