<h1>This is the Track page for <%= @track.track_name %></h1>
<br>
<%= render 'notes/note_form' %>
<br>

Notes by other users:
<% @track.notes.each do |note|%>
<br>
<%@note = note%>
----
<%= render 'notes/note' %>
<br>
<%end%>