<h1> Albums </h1>

  <br>
  List of all albums (or <%= link_to "create new album", new_band_album_url(params[:band_id])%>):
  <br>
  <%Album.all.each do |album|%>
  <%= link_to album.album_name, album %>
  <%end%>