<h1>Create a new album!</h1>


<form action="/bands/<%= params[:band_id]%>/albums" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="band_name">Band Name</label>
  <select name="album[band_id]" id="band_id">
  <% Band.all.each do |band| %>
  <option value=<%= band.id %><%"selected" if band.id = params[:band_id]%>><%= band.band_name %></option>
  <%end%>
  <label for="album_name">Album Name</label>
    <input type="text" name="album[album_name]" id="album_name">
  <input type="submit" value="Create Album">
</form>