<h1>This is the Album page for <%= @album.album_name %></h1>
<br>
Here is track list (or <%= link_to "create a new track", new_band_album_track_url(@album.band.id, @album.id)%>):
<br>
<%@album.tracks.each do |track|%>
<%= link_to track.track_name, track_url(track.id) %> <%= button_to "Delete Track", track_url(track.id), :method => :delete %>
<% end %>
<br>
