<h1> Bands </h1>

  <br>
  List of all bands (or <%= link_to "create new band", new_band_url%>):
  <br>
  <% Band.all.each do |band| %>
  <br>
  <%= link_to band.band_name, band %> <%= button_to "Delete Band", band_url(band.id), :method => :delete %>
  <%end%>