<h1>Create a new band!</h1>

<form action="/bands" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="band_name">Band Name</label>
    <input type="text" name="band[band_name]" id="band_name">
  <input type="submit" value="Create Band">
</form>