<h1>This is the Band page for <%= @band.band_name %></h1>
<br>
Here is an album list (or <%= link_to "create a new album", new_band_album_url(@band.id)%>):
<br><br>
<%@band.albums.each do |album|%>
<%= link_to album.album_name, album_url(album.id) %> <%= button_to "Delete Album", album_url(album.id), :method => :delete %>
<% end %>
<br>
