<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_email">Email</label>
    <input type="text" name="user[email]" id="user_email">
    <br>
  <label for="user_password">Password</label>
    <input type="text" name="user[password]" id="user_password">
    <br>
  <input type="submit" value="Sign in!">
  </form>