<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "layouts/errors" %>
<%= render :partial => "layouts/notices" %>
<% if logged_in? %>
<%= "Welcome #{current_user.email}! | "%><%= button_to "sign out", session_url , :method => :delete%>
<% else %>
<%= link_to "Log In", new_session_url %> or <%= link_to "Sign Up", new_user_url %>
<% end %><br>
--------

<%= yield %>

</body>
</html>
